<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.ms.mapper.ItemMapper" >

    <resultMap id="borrowList" type="com.x.ms.domain.Borrow">
        <id column="borrowId" property="borrowId"/>
        <result column="jobNum" property="jobNum"/>
        <result column="username" property="username"/>
        <result column="itemId" property="itemId"/>
        <result column="itemNum" property="itemNum"/>
        <result column="itemName" property="itemName"/>
        <result column="count" property="count"/>
        <result column="state" property="state"/>
        <result column="borrowDate" property="borrowDate"/>
    </resultMap>

    <resultMap id="itemList" type="com.x.ms.domain.Item">
        <id column="id" property="id"/>
        <result column="num" property="num"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="brand" property="brand"/>
        <result column="specification" property="specification"/>
        <result column="count" property="count"/>
        <result column="price" property="price"/>
        <result column="reporter" property="reporter"/>
        <result column="location" property="location"/>
        <result column="shelf_life" property="shelf_life"/>
        <result column="production_date" property="production_date"/>
    </resultMap>

    <sql id="base_column">num , `name` , `type` , brand , specification , `count` , price , reporter , location , shelf_life , production_date , `in`  </sql>
    <sql id="base_column_get">id , num , `name` , `type` , brand , specification , `count` , price , reporter , location , shelf_life , production_date , `in` , temp , `out` </sql>
    <sql id="borrow_column">jobNum , username , itemId , itemNum , itemName , `count` , state , borrowDate</sql>

    <insert id="add_one_item" parameterType="Item">
        insert into tbItem  (<include refid="base_column"/>)
--         ( num , `name` , `type` , brand , specification , `count` , price , reporter , location , shelf_life , production_date ,in)
        values ( #{num} , #{name} , #{type} , #{brand} , #{specification} , #{count} , #{price} , #{reporter} , #{location} , #{shelf_life} , #{production_date} , #{count})
    </insert>

    <select id="get_all" resultMap="itemList">
        select <include refid="base_column_get"/> from  tbItem
    </select>

    <select id="get_borrow_all" resultMap="borrowList">
        select borrowId , <include refid="borrow_column"/> from  tbBorrow
    </select>

    <select id="get_all_by_jobNum" parameterType="string" resultMap="borrowList">
        select borrowId , <include refid="borrow_column"/>
        from  tbBorrow
        where jobNum = #{jobNum}
    </select>

    <select id="get_One_by_id" parameterType="int" resultType="Item">
        select * from tbItem where id = #{id}
    </select>
    
    <update id="change_item_by_id" parameterType="Item">
        update tbItem
          set num = #{num},
              `name` = #{name},
              `type` = #{type},
              brand = #{brand},
              specification = #{specification},
              `count` = #{count},
              price = #{price},
              reporter = #{reporter},
              location = #{location},
              shelf_life = #{shelf_life},
              production_date = #{production_date}
          where id = #{id}
    </update>

    <insert id="add_borrow_apply" parameterType="Borrow">
        insert into tbBorrow (<include refid="borrow_column"/>)
        values ( #{jobNum} , #{username} , #{itemId} , #{itemNum} , #{itemName} , #{count} , #{state} , #{borrowDate})
    </insert>

    <update id="update_item_borrow" parameterType="Item">
        update tbItem
          set `in` = #{in},
              temp = temp + #{temp}
          where id = #{id}
    </update>
    <!--update tbBorrow-->
    <!--set state = #{0}-->
    <!--where borrowId = #{1}-->
    <update id="change_state_by_id">
        update tbBorrow
          set state = #{arg0}
          where borrowId = #{arg1}
    </update>

</mapper>