<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>低值易耗品管理系统</title>

  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" th:href="@{/admin_index}">低值易耗品管理系统</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">






        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
            </li>
            <li class="divider"></li>
            <li><a th:href="@{/loginOut}"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>

      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">



            <!-- 菜单 -->
            <li>
              <a href="#"><i class="glyphicon glyphicon-inbox fa-fw"></i>物品管理<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                  <li>
                      <a th:href="@{/admin_Wh_man}">仓库管理</a>
                  </li>
                  <li>
                      <a th:href="@{/admin_It_sto}">物品入库</a>
                  </li>
                  <li>
                      <a th:href="@{/admin_It_rec}">物品记录</a>
                  </li>
              </ul>
                <!-- /.nav-second-level -->
            </li>
              <li>
                  <a th:href="@{/admin_Us_man}"><i class="fa  fa-users fa-fw"></i>用户管理</a>
              </li>




          </ul>
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-default-side -->
    </nav>

    <!-- 页面内容 -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">管理员物品入库界面</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        物品入库
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <form role="form" th:action="@{/admin_It_add}" th:object="${item}" th:method="post">

                                    <div class="form-group">
                                        <label>申请单号</label>
                                        <input class="form-control" name="num" id="num" placeholder="申请单号">
                                    </div>

                                    <div class="form-group">
                                        <label>物品名称</label>
                                        <input class="form-control" name="name" id="name" placeholder="物品名称">
                                    </div>

                                    <div class="form-group">
                                        <label>物品类型</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="type" id="type1" value="低值" checked>低值
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="type" id="type2" value="易耗">易耗
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label>物品品牌</label>
                                        <input class="form-control" name="brand" id="brand" placeholder="物品品牌">
                                    </div>

                                    <div class="form-group">
                                        <label>物品规格</label>
                                        <textarea class="form-control" name="specification" id="specification" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>物品数量</label>
                                        <input class="form-control" name="count" id="count" placeholder="物品数量">
                                    </div>

                                    <label>物品价格</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-rmb"></i>
                                        </span>
                                        <input type="text" class="form-control" name="price" id="price" placeholder="物品价格">
                                    </div>

                                    <div class="form-group">
                                        <label>申报人</label>
                                        <input class="form-control" name="reporter" id="reporter" placeholder="申报人">
                                    </div>

                                    <div class="form-group">
                                        <label>存放地点</label>
                                        <input class="form-control" name="location" id="location" placeholder="存放地点">
                                    </div>

                                    <div class="form-group">
                                        <label>保质期</label>
                                        <input class="form-control" name="shelf_life" id="shelf_life" placeholder="保质期">
                                    </div>

                                    <div class="form-group">
                                        <label>生产日期</label>
                                        <input class="form-control" type="date" name="production_date" id="production_date" placeholder="生产日期">
                                    </div>







                                    <button type="submit" class="btn btn-default">提交</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->


                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->



      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="../vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
